.Main
{
    display:flex;
    flex-direction: column;
    padding: 20px;
    background-image: url(../resources/background_image.webp);
}
.Content-Body
{
    display:flex;
    flex-direction: row;
    flex: 3 1 0%;
    padding: 15px;
}
#Left-AD-Section
{
    background-color: transparent;
    width: 15%;
    height: 600px;
}
#Center-Section
{
    flex: 2 1 0%;
    width: 50%;
    display: flex;
    flex-direction: column;
}
#Home, #Youtube, #Instagram, #Facebook, #Snapchat, #WhatsApp
{
    border-radius: 20px;
}
#Right-AD-Section
{
    background-color: transparent;
    width: 15%;
}
.Content-Footer
{
    background-color: transparent;
    height: 200px;
}
.header-menu
{
    background-color: transparent;
    border: none;
}
.header-menu:hover
{
    width: 100px;
}
p, h1
{
    text-align: center;
}